*{
    margin: 0;
    top: 0;
    text-decoration: none; /* Eliminar subrayado */
}

/*Mobile*/
@media only screen and (max-width: 675px) {
    .nav-links{
        display: none;
    }
    .mobile-btn{
        background-color: gray;
        color: white; 
        text-decoration: none; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer; 
    }
    .arcos-flex{
        display: flex;
        align-items: center;
        flex-flow: column;
    }
}

/*Desktop*/
@media only screen and (min-width:676px) {
    .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        color: black;
        gap: 10px;
        padding: 20px;
        font-size: 20px;
    }
    .mobile-btn{
        display: none;
    }
    .arcos-flex{
        display: flex;
        align-items: center;
        flex-flow: row;
    }
}

/* Aplicar fuente Arial a todos los elementos de la página */
body {
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Estilos para las opciones de navegación */


header nav ul .nav-links:hover{
    color: gray;
}

header nav ul .nav-links:focus{
    outline: none;
}

.logo img {
    max-width: 100px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/*Botón */
.bypass-bootstrap-btn{
    padding: 10px 20px; 
    background-color: #ffbc0d;
    color: white; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}


.left-margin {
    margin: 15px;
}

.bypass-bootstrap-btn:hover {
    background-color: #bea101;
}

/*Hero*/

.hero {
    background-image: url(../images/hero.jpg); /* imagen de fondo hamburguesas */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}

/*Footer*/
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ffbc0d;
    padding: 20px 0;
}

.footer-circles{
    display: flex;
    flex-direction: row;
}

footer ul{
    padding-right: 15px;
}

.footer-logo{
    margin: 15px;
}

.footer-logo img {
    max-width: 40px;
}

.circle {
    width: 25px; /* Tamaño del círculo */
    height: 25px; /* Tamaño del círculo */
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 10px; /* Espacio entre los círculos */
}

.productos-container {
    display: grid;
    grid-template-columns: repeat(7, auto); /* 7 columnas con ancho automático */
    gap: 10px; /* Espacio entre las celdas */
    text-align: center; /* Alinear contenido al centro */
}

/* Estilo para las imágenes */
.imagen {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.nosotros-img {
    max-width: 40%;
}

.nosotros-container {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center; /* Alinear verticalmente los elementos */
    gap: 20px; /* Espacio entre los elementos */
}

.nosotros-texto-container {
    flex: 1; /* El contenedor del texto ocupa el espacio disponible */
}


/* Estilo del contenedor de la sección */
.contacto-section {
    display: flex;
    flex-direction: row;
    text-align: center; /* Alinear contenido al centro */
    padding: 20px; /* Espaciado interno */
}

.center-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el texto descriptivo */
.contacto-descripcion {
    margin-top: 10px;
}

/* Estilo para el formulario */
.contacto-formulario {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    text-align: left;
}

/* Estilo para el botón de enviar */
.btn-enviar {
    display: inline-block;
    background-color: #ffbc0d;
    color: white; /* Color del texto */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-enviar:hover {
    background-color: #bea101;
}


.contacto-formulario {
     /* Estilo para los campos de entrada */
     input[type="text"],
     input[type="email"],
     textarea {
         width: 100%; /* Ancho completo */
         padding: 10px; /* Espaciado interno */
         box-sizing: border-box; /* Incluir el padding en el tamaño total */
         border: 1px solid #ccc; /* Borde */
         border-radius: 5px; /* Bordes redondeados */
     }
}


 /* Estilo del contenedor */
 .contenedor {
    text-align: center;
}


/* Estilo para los botones */
.boton {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #b0b0b1;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para el espacio entre los botones */
.cantidad {
    margin-top: 10px;
    font-size: 18px;
}